/* STYLE RESET */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
img{
}


:root{
    --lightMain: #ffffff;
    --light2: #f2f4f9;
    --light3: #f7f7f7;
    --darkMain: #04121b;
    --dark2: #414446;
    --dark3: #bbbbbc;
    --dark4: #D6D6D6;
    --brown1: #a35a4d;
    --brown2: #eb7d6a;

    --sidePadding: calc((20 /16 * 1rem) + ((140 - 20) * ((100vw - 320px) / (1920 - 320))));
    --sidePaddingHalf: calc(var(--sidePadding) / 2);
    --sidePaddingDouble: calc((var(--sidePadding)) * 2);
    
    --sectionSpacing: calc((200 /16 * 1rem) + ((400 - 200) * ((100vw - 320px) / (1920 - 320))));
    --sectionSpacingHalf: calc(var(--sectionSpacing) / 2);

    --headerHeight: calc((50 /16 * 1rem) + ((75 - 50) * ((100vw - 320px) / (1920 - 320))));

    --spacing1: calc((30 /16 * 1rem) + ((50 - 30) * ((100vw - 320px) / (1920 - 320))));
    --spacing2: calc(var(--spacing1) / 2);
    --spacing3: calc(var(--spacing1) / 3);
    --spacing4: calc(var(--spacing1) / 4);
    --spacing5: calc(var(--spacing1) / 5);
    --spacing6: calc(var(--spacing1) / 6);
}



.a-button{
    width: max-content;
    display: block;
    font-size: calc((18 /16 * 1rem) + ((22 - 18) * ((100vw - 320px) / (1920 - 320))));
}

.learnMoreButton1{
    color: var(--darkMain);
    text-decoration: underline;
}

.learnMoreButton2{
    color: var(--lightMain);
    font-family: roboto-bold;
}

.learnMoreButton3{
    color: var(--darkMain);
    position: relative;
}

.learnMoreButton3::before{
    z-index: -1;
    position: absolute;
    content: '';
    background-color: rgb(246, 212, 212);
    
    height: 0.6em;
    left: -2%;
    right: -2%;
    bottom: -0.1em;
}


.blockButton{
    width: max-content;
    background-color: var(--brown1);
    color: var(--lightMain);
    padding: var(--spacing3) calc(var(--spacing2) + var(--spacing3));
    font-size: calc((18 /16 * 1rem) + ((22 - 18) * ((100vw - 320px) / (1920 - 320))));
    display: block;
    position: relative;
    overflow: hidden;
}

.blockButton2{
    background-color: var(--light3);
    color: var(--dark2);
}

.blockButtonEdge::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 5px 0 5px; /* Adjust these values to change the size of the triangle */
    border-color:  white transparent transparent transparent; /* Assuming the background color of the parent/page is white */

}




/* ROBOTO FONT FACE */
@font-face {
    font-family: roboto-thin;
    src: url('./assets/Roboto-Thin.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('./assets/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('./assets/Roboto-Bold.ttf');
}



*{
    font-family: roboto-regular;
}

h1{
    font-family: roboto-regular;
    font-size: calc((30 /16 * 1rem) + ((76 - 30) * ((100vw - 320px) / (1920 - 320))));
}
h2{
    font-family: roboto-regular;
    font-size: calc((30 /16 * 1rem) + ((48 - 30) * ((100vw - 320px) / (1920 - 320))));
}
h3{
    font-family: roboto-regular;
    font-size: calc((26 /16 * 1rem) + ((32 - 26) * ((100vw - 320px) / (1920 - 320))));
}
p {
    font-size: calc((16 /16 * 1rem) + ((20 - 16) * ((100vw - 320px) / (1920 - 320))));
}




body{
    background-color: var(--lightMain);
    color: var(--darkMain);
}





header{
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--light2);
    display: flex;

    padding: 0 var(--sidePaddingDouble);
    height: var(--headerHeight);
}




header a{

    font-size: 18px;
    color: var(--darkMain);
    width: max-content;
    height: min-content;
}
header li{
    width: fit-content;
    margin-left: var(--spacing2);
}

.header-logo{
    height: calc(var(--headerHeight) * 0.8);
}

header > *{
    margin: auto 0;
}

header ul{
    display: flex;
    align-items: center;
}

.header-toggle, .header-toggleButton{
    display: none;
}


@media screen and (max-width:1250px){
    header{
        padding: 0 var(--sidePadding);
    }
}

@media screen and (max-width:850px){
    .header-nav, .header-cta{
        display: none;
    }
    header li{
        margin: 0;
        margin-bottom: var(--spacing2);
    }
    header ul{
        width: 100%;
        height: 100%;
        flex-direction: column;

        align-items: flex-start;
    }

    .header-nav{
        position: absolute;
        background-color: var(--light2);

        z-index: 9999;
        
        left: 0;
        top: 0;
        bottom: calc(-1* (100vh - var(--headerHeight)));
        padding: var(--headerHeight) var(--sidePadding);
        width: max-content;
    }

    .header-toggleButton{
        margin-left: auto;
        height: calc(var(--headerHeight)*0.5);
        width: calc(var(--headerHeight)*0.7);
        display: flex;
        flex-direction: column;
        gap: 20%; 
    }

    .header-toggleButton div{
        display: block;
        background-color: #04121b;
        flex:1;
    }

    
    .header-toggle:checked ~  .header-nav{
        display: block;
    }
}




footer{
    background-color: var(--dark2);
    color: var(--lightMain);
}
.footer-container{
    padding: var(--spacing1) var(--sidePaddingDouble);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: var(--sidePaddingDouble);
}
.footer-headingContainer{
    flex: 1;
    min-width: 240px;
}
.footer-headingContainer p{
    margin-bottom: var(--spacing2);
}
.footer-logo{
    width: 100%;
}

.footer-linkContainer{
    flex: 2.2;
    display: flex;
    gap: var(--sidePadding);
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 240px;
}

.footer-card{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: auto;

    min-width: 120px;
}
.footer-card > *:not(:last-child){
    margin-bottom: var(--spacing3);
}

.footer-band{
    background-color: #2b2d2e;
    text-align: center;
    padding: var(--spacing2);

    font-size: calc((12 /16 * 1rem) + ((18 - 12) * ((100vw - 320px) / (1920 - 320))));
    font-family: roboto-regular;
}

footer h3{
    font-family: roboto-bold;
    font-size: calc((18 /16 * 1rem) + ((28 - 18) * ((100vw - 320px) / (1920 - 320))));
    width: max-content;
}

.footer-card a{
    font-size: calc((16 /16 * 1rem) + ((18 - 16) * ((100vw - 320px) / (1920 - 320))));
    font-family: roboto-regular;
    color: var(--lightMain);
    width: max-content;
}





section{
    padding: var(--sectionSpacingHalf) var(--sidePadding);
}




.sectionAccent{
    background-color: var(--light3);
}


.flare1{
    position: relative;
}
.flare1::before{
    position: absolute;
    content: '';

    background-color: var(--brown2);
    top: 8%;
    bottom: 10%;
    width: 0.25em;
    left: -0.7em;
}

.flare2{
    position: relative;
}
.flare2::before{
    position: absolute;
    content: '';

    background-color: var(--brown2);
    top: -0.5em;
    bottom: 10%;
    height: 0.25em;
    width: 30%;
}


.flare3{
    position: relative;
}

.flare3::before{
    position: absolute;
    content: '';
    background-color: var(--brown2);
    height: 0.25em;
    left: 25%;
    right: 25%;
    top: -0.4em;
}



.flare4{
    position: relative;
    z-index: 10;
}

.flare4::before{
    z-index: -1;
    position: absolute;
    content: '';
    background-color: var(--brown2);
    
    height: 0.5em;
    left: -2%;
    right: -2%;
    bottom: -0.1em;
}


.flarePage{
    position: relative;
    z-index: 10;
}

.flarePage::before{
    position: absolute;
    content: '';
    background-color: var(--brown2);
    
    /* top: -0.2em; */
    right: -0.6em;
    height: 0.8em;
    width: 0.8em;

    background: linear-gradient(to top right, transparent 50%, var(--brown2) 50%); /* This creates the triangle effect */

}





.highlight1{
    font-family: roboto-bold;
}



.card1-underBand{

    padding: var(--spacing6);

    background-color: var(--light3);
    border-bottom: solid var(--spacing5) var(--brown2);
    border-top: solid 3px var(--darkMain);
}
.card1 .card1-underBand{

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.card1-wrapper{
    font-family: roboto-bold;
    font-size: calc((18 /16 * 1rem) + ((20 - 18) * ((100vw - 320px) / (1920 - 320))));
}
.card1-img{
    width: 100%;
    display: block;    
    height: calc((400 /16 * 1rem) + ((600 - 400) * ((100vw - 320px) / (1920 - 320))));

    object-fit: cover;

    transition: opacity 0.1s ease;
}

.card1{
    color: var(--darkMain);
    position: relative;
}

.card1:hover{
    background-color: var(--light3);
    
}

.card1:hover .card1-underBand{
    border-top: 0;
}

.card1:hover .card1-img{
    opacity: 0;
}




.card2{
    background-color: var(--light3);
    padding: var(--spacing2);
}
.card2 > *:not(:last-child){
    margin-bottom: var(--spacing2);
}



.card3 > div{
    margin: auto;
    width:90%;
    margin-top: -28%;
}
.card3 >img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-top: 70%;
}
.card3-wrapper{
    position: relative;
}
.card3-wrapper::before{
    position: absolute;
    top: -6%;
    left: -6px;
    right: -6px;
    height: 60%;
    content: '';
    z-index:1;

    background-color: var(--brown1);
}




.card4{
    background-color: var(--light3);
    padding: var(--spacing1);
    position: relative;
    z-index: 1;
}
.card4 > *:not(:last-child){
    margin-bottom: var(--spacing2);
}
.card4 h3, .card4 h2{
    font-family: roboto-thin;
    font-size: calc((26 /16 * 1rem) + ((38 - 26) * ((100vw - 320px) / (1920 - 320))));
}



.layout1{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing1);
    height: max-content;

}

.layout1 > * {
    flex: 1;
    flex-basis: 456px;

}



.layout2{
    display: flex;
    align-items: center;
    gap: var(--sidePadding);
}
.layout2-container{
    flex: 2;
}
.layout2-wrapper{
    flex: 1;
}
.layout2 img{
    width: 100%;
    height: auto;
}
.layout2-container *{
    width: fit-content;
}
.layout2 > div > *:not(:last-child){
    margin-bottom: var(--spacing1);
}

@media screen and (max-width:650px){
    .layout2-wrapper{
        display: none;
    }
}





.layout3{
    display: flex;
    gap: var(--sidePadding);
    flex-wrap: wrap;
}
.layout3 > *{
    flex:1;
}
.layout3 > div > *:not(:last-child){
    margin-bottom: var(--spacing1);
}
.layout3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1200px){
    .layout3 img{
        height: auto;
    }
}

@media screen and (max-width:960px){
   .layout3{
    flex-direction: column;
   } 
}



.layout4{
    padding: var(--sectionSpacingHalf) var(--sidePaddingDouble);
}
.layout4 *{
    text-align: center;
    margin: auto;
}
.layout4 > *:not(:last-child){
    margin-bottom: var(--spacing1);
}


.layout5{
    display: flex;
    gap: var(--sidePaddingHalf);
}
.layout5 p{
    font-size: calc((16 /16 * 1rem) + ((24 - 16) * ((100vw - 320px) / (1920 - 320))));
}
.layout5-container{
    flex: 1.4;
}
.layout5-subContainer > *:not(:last-child){
    display: block;
    margin-bottom: var(--spacing2);
}
.layout5-subContainer{
    margin-bottom: var(--spacing1);
}




.layout5-imgContainer{
    flex: 1;
}
.layout5-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing1);
    height: auto;
}
.layout5-wrapper img{
    flex: 1;
}

@media screen and (max-width:1200px){
    .layout5-imgContainer{
        display: none;
    }
}





.layout6 h2{
    margin-bottom: var(--spacing1);
}

.layout6-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--sidePadding);
}

.layout6 .card1-img{
    height: calc((260 /16 * 1rem) + ((425 - 260) * ((100vw - 320px) / (1920 - 320))));
}

.layout6 .card1{
    flex: 1;
    flex-shrink: 1;
    flex-basis: 310px;
}






.threeSplit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing1);
}
.threeSplit > *{
    flex: 1;
    flex-grow: 0.6;
    flex-basis: 380px;
    width: 100%;
    margin: auto;
    margin-top: 0;
}





.bandEnergy{
    padding: 0;
    background-color: var(--dark2);
    color: var(--lightMain);

    display: flex;
    align-items: stretch;
}

.bandEnergy-container{
    padding: var(--spacing1) 0 var(--spacing1) var(--sidePadding);
    height: max-content;
    
    flex: 1.2;
}
.bandEnergy-container > *:not(:last-child){
    margin-bottom: var(--spacing1);
}

.bandEnergy-image{
    flex:1;
    /* padding: var(--spacing1) var(--sidePadding); */
    background-color: var(--dark3);

    position: relative;
}

.bandEnergy-centerImg{
    position: absolute;
    left: -1px;
    height: 100%;

}

.bandEnergy-img{
    position: absolute;

    top: var(--spacing1);
    bottom: var(--spacing1);
    right: var(--sidePadding);

    background-color: aqua;
    height: calc(100% - 2 * var(--spacing1));
}





.bandLogo{
    background-color: var(--light3);
}
.bandLogo-image{
    background-image: url("./assets/logoSmallLight.svg");
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: calc(1.3 * var(--headerHeight));
    position: relative;
    opacity: 0.25;
}
.bandLogo::before{
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
}



.gallery-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing2);
    grid-auto-flow: dense;
}

.gallery-img1{
    
    grid-row: span 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-img2{
    grid-row: span 1;
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.gallery-left{
    grid-column-start: 1;
}
.gallery-right{
    grid-column-start: 3;
    
}


@media screen and (max-width:450px){
    
    .gallery-container {
        display: flex;
        flex-direction: column;
    }
}




.subHero{

    background-image: url('./assets/beautiful_home_windows_doors.jpg');
    color: var(--lightMain);
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 1;

    text-align: center;
}
.subHero::before{
    content: '';
    position: absolute;
    top: 0;    
    left: 0;    
    bottom: 0;    
    right: 0;
    z-index: -1;

    backdrop-filter: blur(10px);
}
.subHero::after{
    content: '';
    position: absolute;
    top: 0;    
    left: 0;    
    bottom: 0;    
    right: 0;
    z-index: -2;

    background-color: rgb(24, 23, 22);
    opacity: 0.80;
}

